.features-checkbox-group .checkbox-label {
  display: inline-block;
}

.features-checkbox-group .checkbox-input {
  width: 50px;
  height: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.fieldset {
  margin-bottom: 20px;
}

.features-checkbox-group {
  display: flex;
  flex-direction: column;
}

.features-checkbox-group div {
  margin-bottom: 10px;
}